/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
body {
    color: #000000;
    font-family: verdana, arial, helvetica;
    font-size: .8em;
    padding: 1em;
}

.results {
    width: 100%;
    margin-top: 1em;
}

.results th {
    font-weight: bold;
    text-align: left;
    background: #a6caf0;
    padding: .25em;
    border-bottom: .3em solid white;
    border-left: .3em solid white;
}

.results th.osgi-version {
	border-left: none;
}

.results td {
    background-color: #eeeee0;
}
.results th,
.results td {
    vertical-align: top;
}

.results table {
    width: 100%;
}
.results .osgi-version {
	width: 8em;
}
.results .section-handle,
.results .osgi-version-handle {
	width: 1em;
}
.results table .section-number {
	width: 1em;
}
.results table table .section-number {
	width: 2em;
}
.results table table table .section-number {
	width: 3em;
}
.results .vendor {
    width: 10em;
}

.results .osgi-version,
.results .osgi-version-handle,
.results .section-handle,
.results .section-number,
.results .section-name,
.results td.vendor {
	padding: .25em;
}

.results .osgi-version,
.results .osgi-version-handle {
	height: 2em;
}

tr.highlight td {
	background-color: #ffffe0;
	cursor: default;
}
.hidden {
    display: none;
}